@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@400;600;700&display=swap');

::selection {
  color: white;
  background-color: #d55d2b;
}

::-moz-selection {
  color: white;
  background-color: #d55d2b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Source Sans Pro", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 31px;
  color: #394655;
  background: #fff;
}

.container {
  max-width: 38rem;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: #d55d2b;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: #d55d2b;
  font-weight: 600;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

.m-b-1 {
  margin-bottom: .5rem;
}

.m-b-2 {
  margin-bottom: 1rem;
}

.m-b-4 {
  margin-bottom: 2rem;
}

.p-l-1 {
  padding-left: .5rem;
}

.p-l-2 {
  padding-left: 1rem;
}

.p-l-4 {
  padding-left: 2rem;
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 14%;
  }
}
