@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap');

::selection {
  color: white;
  background-color: #d55d2b;
}

::-moz-selection {
  color: white;
  background-color: #d55d2b;
}

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto Slab", "Helvetica", sans-serif;
  font-size: 16px;
  line-height: 1.6rem;
  color: #394655;
  background: #fff;
}

.container {
  margin: 40px 30%;
  blockquote {
    margin: 16px 0;
    padding: 0 1em;
    color: #d55d2b;
    border-left: 0.25em solid;
  }
}

a {
  text-decoration: none;
  color: #d55d2b;

  &:hover {
    cursor: pointer;
    text-decoration: underline;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .container {
    margin: 32px 14%;
  }
}
