.category {
  margin-bottom: 10px;
}

.posts {
  list-style: none;
  .post {
    margin-top: 8px;
    line-height: 14px;
    &-date {
      font-size: 14px;
      color: #a8a8a8;
      display: inline-block;
      padding: 0 1em 1em 0;
    }
  }
}

.name {
  color: #253445;
  font-size: large;
  margin-bottom: 5px;
}

p {
  margin: 16px 0;
}
