.category {
  margin-bottom: 10px;
}

.posts {
  list-style: none;

  .post {
    display: flex;
    margin-top: 8px;
    line-height: 20px;
    &-date {
      font-size: 16px;
      color: #a8a8a8;
      display: inline-block;
      padding: 0 1em 1em 0;
      flex: 0 0 6em;
    }
    &-title {
      line-height: 20px;
    }
  }
}

.name {
  color: #253445;
  font-size: large;
  margin-bottom: 5px;
}

p {
  margin: 16px 0;
}
